version: '3.8'

services:
  hardhat:
    build:
      context: ./ccsm
      dockerfile: Dockerfile.hardhat
    container_name: hardhat
    hostname: hardhat
    ports:
      - "8545:8545"

  hardhat-2:
    build:
      context: ./ccsm
      dockerfile: Dockerfile.hardhat
    container_name: hardhat-2
    hostname: hardhat-2
    ports:
      - "8546:8545"

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-2:
    image: postgres:15
    container_name: postgres-2
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: postgres
    volumes:
      - postgres_data_2:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  nestjs-app:
    image: bri-3-nestjs-app
    container_name: nestjs-app
    depends_on:
      postgres:
        condition: service_healthy
      nats:
        condition: service_started
      hardhat:
        condition: service_started
      efaktura-mock:
        condition: service_started
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgresql://postgres:example@postgres:5432/postgres"
      BPI_NATS_SERVER_URL: "nats://nats:4222"
      EFAKTURA_URL: "http://efaktura-mock:3005/api/publicApi/sales-invoice/xml"
      LOCALHOST_RPC_URL: "http://hardhat:8545"
    command: >
      sh -c "
        npx prisma migrate reset --force &&
        npm run start:dev
      "

  nestjs-app-2:
    image: bri-3-nestjs-app
    container_name: nestjs-app-2
    depends_on:
      postgres:
        condition: service_healthy
      nats:
        condition: service_started
      hardhat-2:
        condition: service_started
      efaktura-mock:
        condition: service_started
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgresql://postgres:example@postgres-2:5432/postgres"
      BPI_NATS_SERVER_URL: "nats://nats:4222"
      EFAKTURA_URL: "http://efaktura-mock:3005/api/publicApi/sales-invoice/xml"
      LOCALHOST_RPC_URL: "http://hardhat-2:8545"
    command: >
      sh -c "
        npx prisma migrate reset --force &&
        npm run start:dev
      "

  nats:
    image: nats:alpine
    container_name: nats
    ports:
      - "4222:4222"

  efaktura-mock:
    build:
      context: ./test/mocks
      dockerfile: Dockerfile.efaktura
    container_name: efaktura-mock
    ports:
    - "3005:3005"

volumes:
  postgres_data:
  postgres_data_2:
